/* Add to the bottom of your existing CSS */
.cart-link {
  position: relative;
}

.cart-count {
  
  color: rgb(36, 13, 21);
  border-radius: 51%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -12px;
}
