/* Add to the bottom of your existing CSS */
.cart-link {
  position: relative;
}

.cart-count {
  color: rgb(33, 19, 24);
  border-radius: 51%;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -12px;
}
